<div class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li class="active"></li>
    <li></li>
    <li></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <h1 class="slide-image">1</h1>
    </div>
    <div class="item">
      <h1 class="slide-image">2</h1>
    </div>
    <div class="item">
      <h1 class="slide-image">3</h1>
    </div>
    <a class="left carousel-control" href="javascript:$('.carousel').carousel('prev')">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="javascript:$('.carousel').carousel('next')">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
